{# TODO turn this in to filters w/in config, this is ridiculous #}

<li class="activity">
  <time class="activity__time">
    {# If there’s a start date #}
    {%- if a.data.dateStart -%}
      {%- if a.data.dateFormat == "year" -%}
        {{ a.data.dateStart | activityYear }}
      {%- else -%}
        {{ a.data.dateStart | activityDate }}
      {%- endif -%}
    {%- endif -%}
    {%- if a.data.dateStart and a.data.dateEnd -%}
      <br>– 
    {%- endif -%}
    {%- if a.data.dateEnd -%}
      {%- if a.data.dateFormat == "year" -%}
        {{ a.data.dateEnd | activityYear }}
      {%- else -%}
        {{ a.data.dateEnd | activityDate }}
      {%- endif -%}
    {%- endif -%}
  </time>
  <p>
    {# Display Title (with URL if available) #}
    {%- if a.data.title -%}
      {%- if a.data.url -%}
        <a href="{{ a.data.url }}">{{ a.data.title }}</a><br>
      {%- else -%}
        {{ a.data.title }}<br>
      {%- endif -%}
    {%- endif -%}
    
    {# Display Type #}
    {%- if a.data.type -%}
      {{ a.data.type }}
    {%- endif -%}
    
    {# Display Specific Location (with URL if available) immediately after Type if it exists #}
    {%- if a.data.specificLocation -%}
      , {{- ' ' -}}
      {%- if a.data.specificLocationUrl -%}
        <a href="{{ a.data.specificLocationUrl }}">{{ a.data.specificLocation }}</a><br>
      {%- else -%}
        {{ a.data.specificLocation }}<br>
      {%- endif -%}
    {%- else -%}
      <br>
    {%- endif -%}
    
    {# Display Subtext (e.g., Commission) #}
    {% if a.data.subtext %}
      {{ a.data.subtext }}<br>
    {% endif %}
    
    {# Display General Location #}
    {%- if a.data.location -%}
      {{ a.data.location }}
    {%- endif -%}
  </p>
</li>