<section class="section">
  <ul class="blocks">
    {% for image in arena %}
      <li class="block">
        <img src="{{ image }}" loading="lazy">
      </li>
    {% endfor %}
  </ul>
  <p><a href="https://www.are.na/felix-taylor">View more on Arena</a></p>
</section>
