.blocks {
  max-width: none;
}

.block {
  font-family: "Times New Roman", Times, serif;
  background-color: var(--color-white);
  margin-bottom: var(--gutter);
  position: relative;
  width: 100%;
  display: flex;
  align-items: left; /* centers children vertically */
  justify-content: left; /* centers children horizontally */
  height: auto; /* height of the block depends on its content */
}

.block__media {
  width: 100%; /* Ensures the media div takes up the full width of its parent */
  display: flex;
  align-items: center; /* centers children vertically */
  justify-content: center; /* centers children horizontally */
}

.block__media img {
  width: 100%; /* Ensures the image takes up the full width of its parent */
  height: auto; /* height adjusts automatically to maintain the image's aspect ratio */
  max-width: 100%; /* This will ensure the image doesn't overflow its container */
}
