---
section: arena
---
<html class="{{ section }}" lang="{{ global.lang }}">

{% include "components/head.njk" %}

<body class="has-panels">

{% include "components/header.njk" %}

<main id="main" class="main">

  <div class="panel panel--blocks">
    <div class="panel-contents image-gallery">
      {% for image in images %}
      <img src="{{ image }}" alt="">
      {% endfor %}
    </div>
  </div>

  <aside class="panel panel--profile" aria-hidden="true">
    <article>
      <header class="header header--panel">
        {% set linkUrl = '/' %}
        {% set linkText = global.siteTitle %}
        {% set current = false %}
        {% include "components/nav-link.njk" %}
      </header>
      <div class="panel-contents">
        {% include "components/profile.njk" %}
      </div>
      {% include "components/footer.njk" %}
    </article>
  </aside>

</main>

{% include "components/footer.njk" %}

<script>
  hideFooter();
</script>

</body>

</html>
